<!DOCTYPE HTML>



<html>
<head>
	<title> {{ title }} | DS Workshop </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/linearicons/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/chartist/css/chartist-custom.css')}}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/demo.css')}}">
</head>
<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/coc_logo_with_name.png')}}"></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="{{ url_for('question_1') }}">Question 1</a></li>
				<li><a href="#">Question 2</a></li>
				<li><a href="#">Question 3</a></li>
			</ul>
		</div>
	</nav> 
	<!-- END NAVBAR -->
	<div class="container-fluid">
		<div class = "jumbotron">
			<div class="well">
				<h1 class="text-center"> Welcome to DS Workshop!</h1>
				<h5 class="text-center"> “Always code as if the guy who ends up maintaining your code will be a violent psychopath <br/>who knows where you live”<br/>(P.s. he is wearing a hoodie today xD)</h5>
			</div>
		</div>
	</div>
	{% block content %}	{% endblock %}

</body>
</html>