{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Trapping Rainwater Problem</h1>
        <hr/>

        <p>
            Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it is able to trap after raining.
        </p>
        <img src="/static/images/rainwatertrap.png" alt="illustration"  class="d-block mx-auto"/>
        <p>

        </p>
        <hr/>
        <h3>Input</h3>
        <ul>
            <li>Integet T denoting number of test cases</li>
            <li>For each test case, Integet N denoting the length of the array</li>
            <li>For each test case, following N, a list of N integers</li>

        </ul>
        <hr/>
        <h3>Output</h3>
        <ul>
            <li>T integers denoting the amount of water trapped for each testcase</li>
        </ul>
        <hr/>
        <h3>Constraints</h3>
        <ul>
        </ul>
        <hr/>
        <h3>Example</h3>        <hr/>
        <div class="row">
            <div class="col-md-6 h-25">
                <h4>Input</h4>
                <pre class="sample_text" style="background-color:white; height:200px;">
2
7
1,5,2,3,1,7,2
7
3,0,0,2,0,4
                </pre>
            </div>
            <div class="col-md-6 h-25">
                <h4>Output</h4>
                <pre class="sample_text" style="background-color:white; height:200px;">
9
10
              </pre>
            </div>
            <p>


            </p>
        </div>
        <hr/>
        <!-- <form method="post" enctype="multipart/form-data" action="" class="container" style="width:250px;">
            <input type="hidden" value="1" />
            <div class="form-group">
                <select class="form-control" name="lang">
                    <option value="c">C</option>
                    <option value="cpp">C++</option>
                    <option value="py">Python</option>
                </select>
            </div>
            <div class="form-group">
                <input type="file" class="form-control" name="submit_file" />
            </div>
            <center>
                <input type="submit" value="Submit" class="btn btn-primary btn-sm btn-block" />
            </center>
        </form> -->
        <br/>
        <br/>
        <br/>
        <br/>

    </div>
{% endblock %}
